@import url(variables.css);
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"Lato", sans-serif;
}


.section1{
    background: #FFFFFF;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
    ". titulo titulo img img img img "
    ". titulo titulo img img img img "
    ". titulo titulo img img img img "
    ". item5 item6 img img img img "
    ". item7 item7 img img img img "
    ". item7 item7 img img img img "
    
    ;
}

.item1 {
    margin-top: 7vh;
    grid-area: titulo;
    margin-left: 0;
    width: 601px;
    height: 374px;
}
.item1 h1 {
    margin-left: 0vh;
    font-size: 5.5vh;
    font-weight: bolder;
}
.item1 p{
    margin-left: 0vh;
    font-size: large;
    margin-top: 1vh;
}
.item1 button{
    margin-left: 3vh;
    margin-top:3vh;
    font-size: larger;
    color: white;
    background: var(--color-button);
    border: none;
    border-radius: 100px;
    padding: 20px;
    width: 24vh;
}

.item2{
    grid-area: img;
    margin-left: 5vh;
}
.item2 img {
    margin-top: 13vh;
    display: flex;
    width: 725px;
    height: 822px;
}

.item5{
    grid-area: item5;
    margin-left: 0vh;
    background: var(--color-card1);
    border-radius: 3vh;
    height: 22vh;
    width: 290px;
}
.card1 p{
    text-align: center;
    margin: 2vh;
}
.card1 h3{
    text-align: left;
    margin: 2vh;
}

.item6{
    grid-area: item6;
    margin-left: 0.5vh;
    background: var(--color-card2);
    border-radius: 3vh;
    height: 22vh;
    width: 290px;
}
.card2 p{
    text-align: center;
    margin: 2vh;
}
.card2 h3{
    text-align: left;
    margin: 2vh;
}


.item7{
    margin-top: 2vh;
    grid-area: item7;
    background: var(--color-card3);
    border-radius: 3vh;
    width: 601px;
    height: 20vh;
}
.card3 {
    display: flex;
}

.content {
    display: flex;
    flex: 1;
    align-items: center;
    padding: 0 1em;
}

.text {
    text-align: left;
}
.text h3{
    margin-bottom: 1vh;
}

.img1 {
    margin-top: 3vh;
    margin-left: 6vh;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; 
}

.item5 h3, .item6 h3, .item7 h3{
    font-size: xx-large;
    margin-top: 2vh;
}



